<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047016886371-80js2i1v2kf7sgdto1cc5brkjtcr21o5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047016886371-80js2i1v2kf7sgdto1cc5brkjtcr21o5</string>
	<key>API_KEY</key>
	<string>AIzaSyAvj2i3qy21unh6sXUSPycZt-siM3AnuBg</string>
	<key>GCM_SENDER_ID</key>
	<string>1047016886371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatty</string>
	<key>PROJECT_ID</key>
	<string>chatty-a7bc4</string>
	<key>STORAGE_BUCKET</key>
	<string>chatty-a7bc4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047016886371:ios:a16b846b5baf4ac008e856</string>
</dict>
</plist>